.search {
  background-image: url("https://harbourproject-weather.netlify.app/img/bkgrnd2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.row {
  height: 500px !important;
}

.one_third_split {
  height: 30%;
}
.theme_dark {
  color: black;
}
.theme_light {
  color: white;
}

.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
