.search {
  background-image: url("https://images.pexels.com/photos/633854/autumn-orange-nature-red-633854.jpeg?cs=srgb&dl=pexels-skitterphoto-633854.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}
.row {
  height: 500px !important;
}

.one_third_split {
  height: 30%;
}
.theme_dark {
  color: #393e46;
  text-align: center;
}
.theme_light {
  color: #393e46;
  text-align: center;
}

.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
